.popup__btn-submit {
  margin: -16px 0 37px;
  border: none;
  width: 358px;
  height: 50px;
  color: #fff;
  background-color: #000;
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
  font-style: normal;
  flex-shrink: 0;
  border-radius: 2px;
}

.popup__btn-submit:hover {
  opacity: 0.8;
}

@media screen and (max-width: 500px) {
  .popup__btn-submit {
    width: 238px;
    height: 46px;
    margin: 35px 0 25px;
    font-size: 14px;
    line-height: 17px;
  }
}  